.carousel-item
    margin-top: 60px
    min-height: 550px
    background: no-repeat center  center scroll
    -webkit-background-size: cover
    -moz-background-size: cover
    background-size: cover

b
    font-size: 25px
    font-weight: 400
    
