.carousel-item
    margin-top: 60px
    min-height: 650px
    height: 650px
    
    img
        width: 100%
        object-fit: cover
       

    .lead
        font-family: 'Orbitron', sans-serif !important

b
    font-size: 25px
    font-weight: 400

.hero-image
    width: 100%
    .uno
        background-image: url('../img/secciones/gaming.jpg')
        background-color: rgb(60,60 ,60 )
        background-blend-mode: overlay
        background-position: center
        height: 750px
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
        width: 100%
        text-decoration: none
    .dos
        background-image: url('../img/secciones/electronica-hero-image.jpg')
        background-color: rgb(50,50 ,50 )
        background-blend-mode: overlay
        background-position: center
        height: 750px
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
        width: 100%
        text-decoration: none
    .tres
        background-image: url('../img/secciones/redes-hero-image.jpg')
        background-color: rgb(50,50 ,50 )
        background-blend-mode: overlay
        background-position: center
        height: 750px
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
        width: 100%
        text-decoration: none

    .cuatro
        background-image: url('../img/secciones/express-hero-image.jpg')
        background-color: rgb(50,50 ,50 )
        background-blend-mode: overlay
        background-position: center
        height: 750px
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
        width: 100%
        text-decoration: none
    .cinco
        background-image: url('../img/secciones/prog-hero-image.jpg')
        background-color: rgb(50,50 ,50 )
        background-blend-mode: overlay
        background-position: center
        height: 750px
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
        width: 100%
        text-decoration: none
    .seis
        background-image: url('../img/secciones/design-hero-image.jpg')
        background-color: rgb(50,50 ,50 )
        background-blend-mode: overlay
        background-position: center
        height: 750px
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
        width: 100%
        text-decoration: none
    .siete
        background-image: url('../img/secciones/reparacion-hero-image.jpg')
        background-color: rgb(50,50 ,50 )
        background-blend-mode: overlay
        background-position: center
        height: 750px
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
        width: 100%
        text-decoration: none
    .ocho
        background-image: url('../img/secciones/camaras/camara-hero-image.jpg')
        background-color: rgb(50,50 ,50 )
        background-blend-mode: overlay
        background-position: center
        height: 750px
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
        width: 100%
        text-decoration: none
    .content
        margin: 70px 30px
        padding: 5px 20px
        height: 100px
        width: 80%
        text-decoration: none

        h2 
            color: #fff
            text-decoration: none
            font-size: 40px
            font-weight: bolder

        p
            margin-top: 8px
            color: #00ff00
            text-decoration: none
            font-size: 22px
            font-weight: lighter
        
        .indicador
            font-size: 40px!important

      

.image-card
    margin: 20px 5px
    height: 400px
    width: 100%
    object-position: center
    object-fit: cover
    border-radius: 5px

        
           
            
            
    

    
