.carousel-item
    margin-top: 60px
    min-height: 550px
    background: no-repeat center  center scroll
    -webkit-background-size: cover
    -moz-background-size: cover
    background-size: cover

    .lead
        font-family: 'Orbitron', sans-serif !important

b
    font-size: 25px
    font-weight: 400

    
    

    
