/*================MEDIAQUERIS==================*/

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px)
    h2, h4
        font-size: 18px
    p 
        font-size: 12px
    .navbar-brand
        font-size: 15px !important
        img 
            height: 18px !important
    
    .carousel-item
        min-height: 350px
        height: 100%
        img
            min-height: 350px
            height: 100%
        .display-4
            font-size: 24px !important
            margin-left: auto
            margin-right: auto
        .lead
            display: none
    .image-card
        margin: 20px 0px
    .about
         min-height: 350px
    .section
        padding: 5px 5px
    .testimonials
        .carousel-item
            min-height: 150px
            
            p 
                font-size: 14px
    #contact
       font-size: 12px
    
    .horizontal-divider
        margin-top: 20px
        margin-bottom: 20px

    .grid
        width: 90%

        figure 
            display: inline-block
            float: none
            margin: 10px auto
            width: 100%

            h2
                &::after
                    top: 60%
    

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px)
    .carousel-item
        min-height: 350px
        height: 100%
        img
            min-height: 350px
            height: 100%
        .display-4
            font-size: 40px !important
            margin-left: auto
            margin-right: auto
        .lead
            display: none

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px)
    .carousel-item
        min-height: 350px
        height: 100%
        img
            min-height: 350px
            height: 100%
        .display-4
            font-size: 40px !important
            margin-left: auto
            margin-right: auto
        .lead
            display: none

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px)

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px)
