/*================MEDIAQUERIS==================*/

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px)
    h2, h4
        font-size: 18px
    p 
        font-size: 12px
    .btn
        height: 40px
        font-size: 14px
        padding: 8px 20px
        min-width: 120px 


    .navbar-brand
        font-size: 15px !important
        img 
            height: 18px !important
    .hero-image
        .uno, .dos, .tres, .cuatro, .cinco, .seis, #reparacion,#gaming, #design,#microelectronica
            height: 150px 
    
    .carousel-item
        min-height: 350px
        height: 100%
        img
            min-height: 350px
            height: 100%
        .display-4
            font-size: 24px !important
            margin-left: auto
            margin-right: auto
        .lead
            display: none
    .image-card
        margin: 20px 0px
        height: 120px
        
    .about
        margin-top: 40px
        min-height: 350px
        width: 100%
    .section
        padding: 5px 5px
    .testimonials
        .carousel-item
            min-height: 150px
            
            p 
                font-size: 14px
    #contact
       font-size: 12px
    
    .horizontal-divider
        margin-top: 20px
        margin-bottom: 20px

   
    .topmargin-lg
        margin-top: 50px
    

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px)
    .carousel-item
        min-height: 350px
        height: 100%
        img
            min-height: 350px
            height: 100%
        .display-4
            font-size: 40px !important
            margin-left: auto
            margin-right: auto
        .lead
            display: none

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px)
    .carousel-item
        min-height: 350px
        height: 100%
        img
            min-height: 350px
            height: 100%
        .display-4
            font-size: 40px !important
            margin-left: auto
            margin-right: auto
        .lead
            display: none

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px)

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px)
