.hero-image
    width: 100%
    margin-top: 50px
    #reparacion
        background-image: url('../img/secciones/reparacion-hero-image.jpg')
        background-color: rgb(50,50 ,50 )
        background-blend-mode: overlay
        background-position: center
        height: 450px
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
        width: 100%
    #gaming
        background-image: url('../img/secciones/gaming.jpg')
        background-color: rgb(50,50 ,50 )
        background-blend-mode: overlay
        background-position: center
        height: 450px
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
        width: 100%
    #design
        background-image: url('../img/secciones/design-hero-image.jpg')
        background-color: rgb(50,50 ,50 )
        background-blend-mode: overlay
        background-position: center
        height: 450px
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
        width: 100%
    #microelectronica
        background-image: url('../img/secciones/electronica-hero-image.jpg')
        background-color: rgb(50,50 ,50 )
        background-blend-mode: overlay
        background-position: center
        height: 450px
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
        width: 100%
    #express
        background-image: url('../img/secciones/express-hero-image.jpg')
        background-color: rgb(50,50 ,50 )
        background-blend-mode: overlay
        background-position: center
        height: 450px
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
        width: 100%
    #redes
        background-image: url('../img/secciones/redes-hero-image.jpg')
        background-color: rgb(50,50 ,50 )
        background-blend-mode: overlay
        background-position: center
        height: 450px
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
        width: 100%
    #programar
        background-image: url('../img/secciones/prog-hero-image.jpg')
        background-color: rgb(50,50 ,50 )
        background-blend-mode: overlay
        background-position: center
        height: 450px
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
        width: 100%
      
    #camaras
        background-image: url('../img/secciones/camaras/camara-hero-image.jpg')
        background-color: rgb(50,50 ,50 )
        background-blend-mode: overlay
        background-position: center
        height: 450px
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
        width: 100%
    #equipos
        background-image: url('../img/secciones/equipos/equipos-hero-image.jpg')
        background-color: rgb(50,50 ,50 )
        background-blend-mode: overlay
        background-position: center
        height: 450px
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
        width: 100%

    #recuperacion
        background-image: url('../img/secciones/recuperacion/recuperacion-hero-image.jpg')
        background-color: rgb(50,50 ,50 )
        background-blend-mode: overlay
        background-position: center
        height: 450px
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
        width: 100%
    #consultoria
        background-image: url('../img/secciones/consultoria/consultoria-hero-image.jpg')
        background-color: rgb(50,50 ,50 )
        background-blend-mode: overlay
        background-position: center
        height: 450px
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
        width: 100%
    #televisores
        background-image: url('../img/secciones/televisores/tv-hero-image.jpg')
        background-color: rgb(50,50 ,50 )
        background-blend-mode: overlay
        background-position: center
        height: 450px
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
        width: 100%
.gallery
    width: 100%
    .col-md-6
        width: 100%
        height: 400px
        padding: 0
        position: relative
        overflow: hidden
        img 
            width: 100%
            height: 100%
            object-fit: cover
            -moz-transition: all 0.8s
            -webkit-transition: all 0.8s
            transition: all 0.8s

            &:hover
                -moz-transform: scale(1.2)
                -webkit-transform: scale(1.2)
                transform: scale(1.2)

        


                

        