$color_fondo_body:#161616
$color_fuente_primario: #ffffff
$color_menu:#161616
$color_iconos_redes:#ff6400
$color_boton_login:#00ff00
$color_hover_item:#00ff00
$color_boton_menu:#00ff00
$color_1_divider: #ff6400

